/*INITIAL SETTINGS FOR THE HTML DOC*/

*{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0px;  
}
/*INITIAL SETTINGS FOR THE HTML DOC ENDS */

body {
    background-image: url(./images/bg-intro-desktop.png);
    background-color:  hsl(0, 100%, 74%); 
    background-attachment: fixed;
}
.asidecontent{
    margin: 200px;
    position:absolute;
}
 h1{
     width:300px;
     font-size:30px;
     line-height: 35px;
     font-weight: 800;
     color: white;
}
.asidecontent p{
     width: 400px;
     margin-top: 20px;
     font-size: 12px;
     font-weight: 100;
     color: white;
 }
.freeoffer{
    position: absolute;
    margin:  100px 200px 150px 800px;
    font-size: 10px;
    border: none;
    outline: none;
    background-color:   hsl(248, 32%, 49%);
    padding:10px 80px 10px 74px;
    border-radius: 4px;
    color: white;
    box-shadow:0px 9px 5px -5px rgb(56, 55, 55);
}
.freeoffer:hover{
    background-color: rgb(235, 166, 154);
    transition: ease-in 1s 0.5s;
}
.freeoffer span{
 font-weight: bold;
}
.container{
    box-sizing: border-box;
    position: absolute;
    width: 360px;
    height: 340px;
    margin:160px 200px 150px 800px;
    background-color: white;
    border-radius: 5px;
    box-shadow:0px 9px 5px -5px rgb(56, 55, 55);
    padding-left: 30px;
}
form{
    margin-top: 15px;
}
label{
    box-sizing: border-box;
    display: block;
}
input{
    padding: 10px 130px 10px 15px;
    margin-top: 15px;
    font-size: 10px;
    font-weight: 800;
    overflow-x: hidden;
}
.claim{
    margin-top: 15px;
    padding: 10px 85px 10px 95px;
    border-radius: 3px;
    box-shadow:0px 9px 5px -5px rgb(56, 55, 55);
    justify-content: center;
    background-color: hsl(154, 59%, 51%);
    color: white;
    border: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    outline: none;
}
h6{
    font-size: 7px;
    text-indent: 45px;
    margin-top: 10px;
    color: hsl(246, 25%, 77%);
}
h6 span{
    color:hsl(0, 100%, 74%);   
}

.attribution{
    position: absolute;
    margin-top: 41%;
}
input:focus{
    outline: none;
} 


@media only screen and (max-width: 375px){
    .asidecontent{
     margin-top: 120px;
     position:absolute;
}
    h1{
    margin-left: -140px;
    position: absolute;
    width:300px;
    font-size:30px;
    line-height: 40px;
    font-weight: 800;
    color: white;
}
   .asidecontent p{
    margin-left: -190px;
    width:360px;
   text-align: center;
    margin-top: 100px;
    font-size: 18px;
    font-weight: 100;
    color: white;
}
.freeoffer{
    width: 320px;
    position: absolute;
    margin-top: 400px;
    margin-left: 8%;
    font-size: 14px;
    border: none;
    outline: none;
    background-color:   hsl(248, 32%, 49%);
    padding:25px 80px 25px 80px;
    border-radius: 8px;
    color: white;
    box-shadow:0px 9px 5px -5px rgb(56, 55, 55);
}

.container{
    box-sizing: border-box;
    position: absolute;
    width: 340px;
    height: 490px;
    margin:520px 200px 150px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow:0px 9px 5px -5px rgb(56, 55, 55);
    padding-left: 30px;
}

input{
    padding: 15px 80px 15px 15px;
    font-size: 14px;
    font-weight: 800;
    border-style: solid;
    border-width: 0.02px;
    overflow-x: hidden;
}
.claim{
    margin-top: 15px;
    padding: 20px 66px 20px 70px;
    border-radius: 3px;
    box-shadow:0px 9px 5px -5px rgb(56, 55, 55);
    justify-content: center;
    background-color: hsl(154, 59%, 51%);
    color: white;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    outline: none;
}
h6{
    width: 300px;
    margin-left:-22px;
    text-align: center;
    font-size: 11px;
    margin-top: 10px;
    color: hsl(246, 25%, 77%);
}
h6 span{
    color:hsl(0, 100%, 74%);   
}
.attribution{
    visibility: hidden;
}
}